{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">Universidade Federal Rural de Pernambuco</h1>
    <div style="text-align: center;">
        <p style=><b>Aluno: </b>Carlos Ivan Santos do Amaral</p>
        <br>
        <p><b>Descrição: </b>Esse projeto faz parte da disciplina de Infraestrutura de Software
        e consiste na edição de uma Maquina Virtual atravez de uma interface Web. Os parametros a serem modificados
        são a quantidade de CPU's, Memória RAM, IP e o SO que passará pelas modificações.</p>

        Acesse a opção 'Set Values' no menu superior para modificar os valores e clonar a VM.
    </div>
{% endblock %}